[submodule "nautilus"]
	path = nautilus
  url = https://github.com/ut-amrl/nautilus.git
[submodule "rviz_vectorize_button"]
	path = rviz_vectorize_button
	url = https://github.com/TheCynosure/rviz_vectorize_button.git
[submodule "rviz_write_button"]
	path = rviz_write_button
	url = https://github.com/TheCynosure/rviz_write_button.git
[submodule "rviz_hitl_slam_tool"]
	path = rviz_hitl_slam_tool
	url = https://github.com/ut-amrl/rviz_hitl_slam_tool.git
[submodule "learning_loop_closure"]
	path = learning_loop_closure
	url = https://github.com/ut-amrl/learning-loop-closure.git
