data/*
*.pyc
*.log
*.npy
.vscode/*
logs/*
recall_eval*/*
learning/logs/*
learning/embeddings/*
learning/__pycache__/*
__pycache__/*
evaluation/precision_recall_curve.png
**/*.pth
**/*.pkl
visualize_loop_closure/temp_pc_file.txt
bin
cmake-build-debug
Debug
build
data
lib
*.kdev4
.kdev4
.settings
.idea
.project
.cproject
pointnet.pytorch
bags
laser_scan_matcher/src/laser_scan_matcher/srv/
laser_scan_matcher/srv_gen/
local_uncertainty_estimator/src/local_uncertainty_estimator/srv/
local_uncertainty_estimator/srv_gen/
